#main__section--intro {
    align-items: center;
    background-color: $color-purple-bg;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
        row-gap: .75rem;
    }

    @media screen and (min-width: $laptop) {
        flex-direction: row-reverse;
        justify-content: flex-start;
        padding-bottom: 2rem;
    }

    .intro__img--container{
        align-items: center;
        display: flex;
        justify-content: center;
        width: 50vw;
        
        .section__intro--img {
            width: 100%;
            
            @media screen and (min-width: $tablet) {
                width: 60%;
            }
    
            @media screen and (min-width: $laptop) {
                height: 16rem;
                margin-right: 5vw;
                width: 27rem;
            }
        }
    }

    .intro__text--container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-top: .5rem;

        @media screen and (min-width: $laptop) {
            margin: 0;
            padding-bottom: 2rem;
            row-gap: 1rem;
            width: 50vw;
        }

        h1 {
            color: $color-button;
            font-family: $poppins;
            font-size: 1.3rem;
            line-height: 1.5rem;
            padding: 0 1rem;
            text-align: center;

            @media screen and (min-width: $tablet) {
                padding: 0;
                width: 55%;
            }

            @media screen and (min-width: $laptop) {
                font-size: 1.5rem;
                line-height: 2rem;
                text-align: start;
                width: 21rem;
            }
        }

        p {
            color: $color-light-purple;
            font-family: $roboto;
            font-size: .8rem;
            line-height: 1.2rem;
            padding: 0 1rem;
            text-align: justify;

            @media screen and (min-width: $tablet) {
                width: 60%;
            }

            @media screen and (min-width: $laptop) {
                padding: 0;
                text-align: start;
                width: 21rem;
            }
        }

        .vejaMais__container {
            align-items: center;
            color: $color-button;
            column-gap: .5rem;
            display: flex;
            font-family: $roboto;
            font-size: .8rem;

            @media screen and (min-width: $laptop) {
                width: 21rem;
            }
        }

        .vejaMais__arrow {
            height: 1rem;
        }
    }
}