header {
    align-items: center;
    background-color: $color-purple-bg;
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;

    @media screen and (min-width: $laptop) {
        padding: 3rem 0;
    }

    .header__logo {
        @media screen and (min-width: $laptop) {
            height: 2rem;
        }
    }

    nav {
        display: none;

        @media screen and (min-width: $laptop) {
            display: block;
        }

        ul {
            @media screen and (min-width: $laptop) {
                color: $color-light-purple;
                column-gap: 3rem;
                display: flex;
                font-family: $roboto;
            }
        }
    }

    .header__search--container {
        position: relative;

        #search {
            background-color: $color-dark-bg;
            border: none;
            color: $color-light-purple;
            height: 1.5rem;
            outline: none;

            &::placeholder {
                text-align: center;
            }

            @media screen and (min-width: $laptop) {
                height: 2rem;
            }
        }

        .search__img {
            height: 1rem;
            left: .5rem;
            position: absolute;
            top: .3rem;

            @media screen and (min-width: $laptop) {
                display: none;
            }
        }
    }
}