header {
    background-color: $color-purple-bg;
    display: flex;
    justify-content: center;
    padding: .5rem 0;
    
    @media screen and (min-width: $tablet) {
        align-items: center;
        justify-content: space-around;
        padding: 1rem 0;
    }

    @media screen and (min-width: $laptop) {
        padding: 3rem 1rem;
    }

    .header__logo {
        height: 1.8rem;
        margin: .5rem 0;

        @media screen and (min-width: $laptop) {
            height: 2rem;
            margin: 0;
        }

        @media screen and (min-width: $laptop-L) {
            height: 2.5rem;
        }
    }

    nav {
        display: none;

        @media screen and (min-width: $laptop) {
            display: block;
        }

        ul {
            @media screen and (min-width: $laptop) {
                color: $color-light-purple;
                column-gap: 2rem;
                display: flex;
                font-family: $roboto;
            }

            @media screen and (min-width: $laptop-L) {
                column-gap: 2.5rem;
                font-size: 1.3rem;
            }
        }
    }

    .header__search--container {
        position: relative;

        @media screen and (min-width: $laptop) {
            display: flex;
            align-items: center;
        }

        #search {
            display: none;

            @media screen and (min-width: $tablet) {
                background-color: $color-dark-bg;
                border: none;
                color: $color-light-purple;
                display: block;
                height: 1.5rem;
                outline: none;

                &::placeholder {
                    text-align: center;
                }
            }

            @media screen and (min-width: $laptop) {
                border-bottom-left-radius: .3rem;
                border-top-left-radius: .3rem;
                height: 2rem;

                &::placeholder {
                    padding-left: 1.5rem;
                    text-align: start;
                }
            }

            @media screen and (min-width: $laptop-L) {
                height: 2.5rem;

                &::placeholder {
                    font-size: 1rem;
                }
            }
        }

        .search__img {
            display: none;

            @media screen and (min-width: $tablet) {
                display: block;
                height: 1rem;
                left: .5rem;
                position: absolute;
                top: .3rem;
            }

            @media screen and (min-width: $laptop) {
                display: none;
            }
        }

        button {
            display: none;

            @media screen and (min-width: $laptop) {
                background-color: $color-button;
                border: none;
                border-bottom-right-radius: .3rem;
                border-top-right-radius: .3rem;
                display: block;
                height: 2rem;
                width: 3rem;

                .button__img {
                    height: 1rem;
                }
            }

            @media screen and (min-width: $laptop-L) {
                height: 2.5rem;
                width: 3.5rem;

                .button__img {
                    height: 1.3rem;
                }
            }
        }
    }
}