#main__section--three {
    @include flexCenterColumn;
    margin-top: 4rem;
    row-gap: 2rem;

    @media screen and (min-width: $tablet) {
        row-gap: 4rem;
    }

    @media screen and (min-width: $laptop) {
        align-items: center;
        column-gap: 2rem;
        flex-direction: row;
        justify-content: center;
    }

    #section__three--articles {
        @include flexCenterColumn;
        font-family: $roboto;
        width: 80%;

        @media screen and (min-width: $tablet) {
            width: 60%;
        }

        @media screen and (min-width: $laptop) {
            margin-bottom: 3rem;
            width: 15.5rem;
        }

        @media screen and (min-width: $laptop-L) {
            width: 23.5rem;
        }

        .three__article--picture {
            width: 100%;
        }

        span {
            align-self: flex-start;
            font-size: .75rem;
            margin: .5rem 0;

            @media screen and (min-width: $laptop) {
                font-size: .7rem;
            }

            @media screen and (min-width: $laptop-L) {
                font-size: 1rem;
            }
        }

        h2 {
            color: $color-purple-bg;
            font-size: 1.2rem;
            font-weight: 700;
            text-align: center;

            @media screen and (min-width: $laptop) {
                text-align: start;
                font-size: .95rem;
            }

            @media screen and (min-width: $laptop-L) {
                font-size: 1.45rem;
                line-height: 2rem;
            }
        }

        p {
            font-size: .75rem;
            line-height: 1rem;
            margin-top: .5rem;
            text-align: center;

            @media screen and (min-width: $tablet) {
                width: 25rem;
            }

            @media screen and (min-width: $laptop) {
                font-size: .65rem;
                text-align: start;
                width: 15.5rem;
            }

            @media screen and (min-width: $laptop-L) {
                font-size: 1rem;
                line-height: 1.45rem;
                width: 23.5rem;
            }
        }

        .three__article--text {
            margin-bottom: 2rem;

            @media screen and (min-width: $laptop) {
                margin-bottom: 0;
            }
        }
    }
}