#main__section--two {
    @include flexCenterColumn;
    margin-top: 2rem;
    row-gap: 1.5rem;

    @media screen and (min-width: $tablet) {
        row-gap: 2.5rem;
    }

    @media screen and (min-width: $laptop) {
        align-items: flex-start;
        flex-direction: row;
    }

    .two__first--article {
        @include flexCenterColumn;
        font-family: $roboto;
        max-width: 25rem;

        @media screen and (min-width: $laptop) {
            width: 60vw;
            max-width: none;
        }

        .first__article--img {
            width: 80%;

            @media screen and (min-width: $tablet) {
                width: 60%;
            }

            @media screen and (min-width: $laptop) {
                width: 25rem;
            }

            @media screen and (min-width: $laptop-L) {
                width: 38rem;
            }
        }

        .first__article--text {
            @include flexCenterColumn;
            row-gap: .5rem;
            width: 80%;

            @media screen and (min-width: $tablet) {
                width: 60%;
            }

            @media screen and (min-width: $laptop) {
                align-items: flex-start;
                width: 25rem;
            }

            @media screen and (min-width: $laptop-L) {
                row-gap: 1rem;
                width: 38rem;
            }

            span {
                align-self: flex-start;
                font-size: .6rem;
                margin: .5rem 0;

                @media screen and (min-width: $laptop) {
                    font-size: .7rem;
                }

                @media screen and (min-width: $laptop-L) {
                    font-size: 1rem;
                    margin: 1rem 0;
                }
            }

            h2 {
                @include mobileSecondTitle;

                @media screen and (min-width: $laptop) {
                    @include underlineHoverEffect;
                }

                @media screen and (min-width: $laptop-L) {
                    font-size: 1.5rem;
                }
            }

            p {
                @include mobileText;

                @media screen and (min-width: $tablet) {
                    width: 20rem;
                }

                @media screen and (min-width: $laptop) {
                    text-align: start;
                    font-size: .7rem;
                }

                @media screen and (min-width: $laptop-L) {
                    font-size: 1rem;
                    line-height: 1.45rem;
                    width: 30rem;
                }
            }
        }
    }

    .st__container {
        @include flexCenterColumn;
        row-gap: 1.5rem;

        .st__container--article {
            @include flexCenterColumn;
            font-family: $roboto;
            margin: .75rem 0;
            max-width: 25rem;
            row-gap: .5rem;
            width: 80%;

            @media screen and (min-width: $tablet) {
                width: 60%;
            }

            @media screen and (min-width: $laptop) {
                margin: 0;
                max-width: none;
                width: 100%;
            }

            span {
                display: none;

                @media screen and (min-width: $laptop) {
                    align-self: flex-start;
                    display: block;
                    font-size: .7rem;
                }

                @media screen and (min-width: $laptop-L) {
                    font-size: 1rem;
                }
            }

            h2 {
                @include mobileSecondTitle;

                @media screen and (min-width: $tablet) {
                    width: 20rem;
                }

                @media screen and (min-width: $laptop) {
                    @include underlineHoverEffect;
                    text-align: start;
                }

                @media screen and (min-width: $laptop-L) {
                    font-size: 1.5rem;
                    line-height: 2rem;
                    width: 30rem;
                }
            }

            p {
                @include mobileText;

                @media screen and (min-width: $laptop) {
                    font-size: .7rem;
                    text-align: start;
                    width: 20rem;
                }

                @media screen and (min-width: $laptop-L) {
                    font-size: 1rem;
                    line-height: 1.45rem;
                    width: 30rem;
                }
            }
        }
    }
}